
@{
}
<html>
<head>
    <title>Contact</title>

    <link href="~/css/StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <div id="rana">
        <div class="nav">
            <div class="logo">
                <img src="https://www.lpu.in/images/logo/logo.svg" width="200" height="120">
                <h1>PETROLIUM UNIVERSITY</h1>
                <font size="7">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=""> &#9742;</a>
                </font>
            </div>
        </div>
        <div class="main1">
            <ul>
                <a href="">
                <li>ABOUT</li></a>
                <a href="">
                <li>ADMISSION</li></a>
                <a href="">
                <li>CONTACT</li></a>
                <a href="">
                <li>QUERY</li></a>
                <a href="">
                <li>ACTIVITY</li></a>
                <a href="">
                <li>RESEACH</li></a>
                <a href="">
                <li>PLACEMENTS</li></a>
                <a href="">
                <li>CAMPUS</li></a>
            </ul>
        </div>
        <br><br>

    </div>
    </div>

    <div class="chairman">
        <img src="https://www.lpu.in/about_lpu/images/leadership/3.jpg">
        <div class="text1">
            <br><br>
            <span><h2 align="center">Founder Chairman</h2></span>
            <h1 align="center">LATE SH. BALDEV RAJ MITTAL</h1>
            <br><br><br>
            <h3 align="center">Late Sh. Baldev Raj Mittal, the Founder Chairman of Lovely Group, was an entrepreneur par excellence. The heights gained by the Lovely Group bear testimony to his tireless efforts, indomitable will, and strong sense of commitment to his ideals and goals. His cherished conviction is a treasured legacy which will always continue to inspire and guide us. Lovely Professional University is a humble tribute to perpetuate his quintessential existence.</h3>
            <br><br><br><br><br><br><br>
            <h3 align="center">Shall Flutter like a sparrow....and into oblivion I will fly</h3>
            <h4 align="center">--Baldev Raj Mittal--</h4>
        </div>
    </div>

    <div class="chairman2">
        <img src="https://www.lpu.in/about_lpu/images/leadership/11.jpg" width=500 height=400>
        <div class="text2">
            <br><br>
            <h2 align="center">Chancellor</h2>
            <h1 align="center">ASHOK MITTAL</h1>
            <br><br><br>
            <h3 align="center">Through ‘Transforming India by Transforming Education,’ we seek to revive the glory of the ancient Indian education system. By providing an academic ambience, innovative pedagogy of global significance, we prepare our students to succeed in a highly competitive professional environment. Having created a strong international presence, LPU is poised to become a Centre of Excellence in Academics and Research and be listed among the top 200 universities of the world by 2025</h3>
        </div>
    </div>

    <div class="chairman3">
        <img src="https://www.lpu.in/about_lpu/images/leadership/1.jpg" width=500 height="400">
        <div class="text3">
            <br><br>
            <h2 align="center">Pro-Chancellor</h2>
            <h1 align="center">RASHMI MITTAL</h1>
            <br><br><br>
            <h3 align="center">At LPU, we educare young aspiring minds into complete individuals. We nurture and groom students to make them capable of delivering despite unforeseen challenges of a highly competitive world. Apart from imparting knowledge, understanding, skills, and critical thinking, we enable them to become architects of the future society. We feel satisfied in providing ace professionals, steeped in Indian values and modern outlook, to India and the world.</h3>
        </div>
    </div>
    <br><br>
    <!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
    <div id="boss1">
        <div class="contact1">
            <h2 align="center"><strong>OFFICE CONTACT</strong></h2>
        </div>
        <br><br><br><br><br>
        <div class="intro">
            <div class="intro1">
                <p><strong>Distance Education:</strong></p>
                <p><strong>Toll Free:</strong> 1800 3001 1800 (Admission Enquiry)</p>
                <p><strong>Phone:</strong> +91-1824-521360 (General Enquiry)</p>
                <p><strong>Email:</strong> odl.admissions@lpu.co.in</p>
                <p><strong>Website:</strong> http://www.lpude.in</p>
            </div>
            <br>
            <div class="intro1">
                <p><strong>International Office:</strong></p>
                <p><strong>Phone:</strong> +91 1824 444 019</p>
                <p><strong>Email:</strong> int.admissions@lpu.co.in (Admissions</p>
                <p><strong>Email:</strong> international@lpu.co.in (General)</p>
                <p><strong>Website:</strong> http://www.lpu.in/international</p>

            </div>
            <br>
            <div class="intro1">
                <p><strong>Division of Career Services:</strong></p>
                <p><strong>Phone:</strong> +91 1824 444 596</p>
                <p><strong>Email:</strong> placement@lpu.co.in</p>
                <p><strong>Website:</strong> http://www.lpu.in/placements.php</p>

            </div>
        </div>
        <br><br><br>
        <div class="intros">
            <div class="intros1">
                <p>
                    <strong>
                        LPU Alumni Association:
                    </strong>
                </p>
                <p><strong>Phone:</strong> +91-7508-183833</p>
                <p>
                    <strong>Email:</strong> alumnicentral@lpu.co.in
                </p>
                <p><strong>Website:</strong> http://alumni.lpu.in</p>

            </div>
            <br>
            <div class="intros1">
                <p><strong>Jobs:</strong></p>
                <p><strong>Phone:</strong> +91-1824-444514</p>
                <p><strong>Phone:</strong> +91-75083-83872</p>
                <p><strong>Email:</strong> hrd@lpu.co.in</p>

            </div>
            <br>
            <div class="intros1">
                <p><strong>Media:</strong></p>
                <p><strong>Phone:</strong> +91-1824-444008</p>
                <p><strong>Email:</strong> aman.mittal@lpu.co.in</p>
                <p><strong>Email:</strong> media@lpu.co.in</p>

            </div>
        </div>
        <br><br><br><br>
        <div class="animation1">
            <div class="animation2"></div>
            <div class="animation3"></div>
            <div class="animation4"></div>
            <div class="animation5"></div>
        </div>
        <br><br><br>
        <div class="email1">
            <h3>	&#9742; &nbsp;7618121218,&nbsp;akrana123@gmail.com</h3>



        </div>
        <br><br>
        <a href="#" class="fa fa-facebook">f</a>
        <a href="#" class="fa fa-twitter">t</a>
        <a href="#" class="fa fa-google">G</a>

</body>
</html>
