
@{
}

<h2>Welcome to Data page</h2>
<div class="rock">
    <marquee behavior=alternate direction=right scrollamount="5" loop=infinite scrolldelay="10" onmouseover="stop()" onmouseout="start()">
        <table align="center" cellspacing="30">
            <tr>
                <td>
                    <img src="https://images.pexels.com/photos/618833/pexels-photo-618833.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="350" height="300">

                </td>
                <td>
                    <img src="https://images.unsplash.com/photo-1519834785169-98be25ec3f84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dHJ5fGVufDB8fDB8fA%3D%3D&w=1000&q=80" width="350" height="300">
                </td>
                <td>
                    <img src="https://images.unsplash.com/photo-1600706844152-3a29fce003b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" width="350" height="300">
                </td>
                <td>
                    <img src="https://images.unsplash.com/photo-1614157606535-2f3990b919a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW5kb25lc2lhbnxlbnwwfHwwfHw%3D&w=1000&q=80" width="350" height="300">
                </td>
            </tr>
        </table>
    </marquee>
    <br><br><br>
</div>


